@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}

.site-header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.button-shadow {
  box-shadow:
    rgb(0, 0, 0) -4px 4px 0px 0px,
    rgb(0, 0, 0) 0px 0px 0px 2px inset;
  box-sizing: border-box;
}

.token-map-popup {
  @apply w-[216px] md:w-[500px] z-50;
}

.token-map-popup .mapboxgl-popup-content {
  @apply p-2 bg-neutral text-secondary;
}

.token-map-popup .mapboxgl-popup-tip {
  @apply !border-t-neutral;
}

.token-map-popup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  @apply !border-b-neutral;
}

.token-map-popup .mapboxgl-popup-close-button {
  @apply text-3xl leading-[16px] py-1 px-2;
}

/* Chrome, Safari, Edge, Opera */
.plain-number-input::-webkit-outer-spin-button,
.plain-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.plain-number-input[type="number"] {
  -moz-appearance: textfield;
}

.custom-marker {
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
}

.custom-marker__image {
  height: revert-layer;
}
